{% extends 'base.html.twig' %}

{% block title %}Confirmation de connexion{% endblock %}

{% block body %}
    <h1>Confirmation de connexion</h1>
    <p>Nous avons détecté une nouvelle connexion. Merci de confirmer via le lien envoyé par email.</p>
{% endblock %}
