<h2>Confirmation du changement de mot de passe</h2>
<p>Pour confirmer votre changement de mot de passe:</p>
<p>
    <a href="{{ url }}">Confirmer le changement</a>
</p>
<p>Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.</p>
