<h2>Confirmation de connexion</h2>
<p>Nous avons détecté une nouvelle connexion. Merci de confirmer:</p>
<p>
    <a href="{{ url }}">Confirmer la connexion</a>
</p>
<p>Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.</p>
