<h2>Réinitialisation du mot de passe</h2>
<p>Pour définir un nouveau mot de passe:</p>
<p>
    <a href="{{ url }}">Réinitialiser mon mot de passe</a>
</p>
<p>Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.</p>
